@import "fonts.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font: 14px Georgia,"Times New Roman",Times,serif;
    letter-spacing: .5px;
    overflow: hidden;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    
}

.panel {
    width: 320px;
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    right: 0;
    z-index: 100;
}
.panel.collapsed .panel-layers, .panel.collapsed .clustering-checkbox {
    display:none;
}
.panel.collapsed {
    width: 60px;
}

.panel.collapsed .menu-btn{
   background: #2196F3; 
}

.panel-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 50px;
}
.menu-btn {
    width: 35px;
    height: 30px;
    background: #ccc;
    position: absolute;
    color: transparent;
    overflow: hidden;
    display: block;
    font-family: "fruskac";
    font-size: 0;
    right: 13px;
    top:10px;
}
.menu-btn:before {
    color: #fff;
    content: "\64";
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 20px;
}

.fullscreen-btn {
    display: none;
}

.satellite-view {
    display: none;
}

.clustering-checkbox {
    position: absolute;
    left: 10px;
    top: 8px;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.layer {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.switch {
    padding: 10px;
}
.sublayers {
    padding-left: 10px;
    padding-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 2px;
    margin: 11px 12px;
    text-indent: 53px;
    color: #999;
    line-height: 23px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}


/* The slider */
.slider-label{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    white-space: nowrap;
}

.slider-label:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider-label{
    background-color: #2196F3;
    color: #222;
}

input:checked + .slider-label+ span {
    opacity: 1;
}

input:focus + .slider-label{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-label:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.checkbox {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 16px;
    margin: 7px 3px;
    color: #999;
    line-height: 23px;
}

.checkbox input {display:none;}

.checkbox-label {
    position: absolute;
    cursor: pointer;
    line-height: 18px;
    text-indent: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox-label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    top: 0px;
    text-indent: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
    line-height: 20px;
    color: #fff;
}

input:checked + .checkbox-label {
    color: #222;
}

input:focus + .checkbox-label {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .checkbox-label:before {
    content: "\63";
    font-family: "fruskac";
    background-color: #2196F3;
}

.expand-collapse {
    width: 20px;   
    height: 20px;
    position: absolute;
    top: 14px;
    right: 20px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: "fruskac";
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 20px;
}

.expand-collapse.expanded:before {
    color: #2196F3;
    content: "\61";
}

.expand-collapse.expanded+.sublayers {
    display: block;
}

.expand-collapse.collapsed+.sublayers {
    display: none;
}

.expand-collapse.collapsed:before {
    color: #ccc;
    content: "\62";
}

